{% extends "base_layout.html" %}
{% block body %}
    <div class="container">
        <h1>Trying mqtt with flask</h1>
        <!--SHOW ONLY IN DESKTOP-->
        <div class="row" id="desktop">
            <div class="col-md-3">
                <div class="scrollbox">
                    <h4>Temperatura</h4>
                    <ul class="temp">
                        <li>Datos</li>
                    </ul>
                </div>                
            </div>
            <div class="col-md-3">
                <div class="scrollbox">
                    <h4>Humedad</h4>
                    <ul class="hum">
                        <li>Datos</li>
                    </ul>
                </div>                
            </div>
            <div class="col-md-3">
                <div class="scrollbox">
                    <h4>Luminosidad</h4>
                    <ul class="volt">
                        <li>Datos</li>
                     </ul>
                </div>
            </div>
            <div class="col-md-3">
                <p>Estado del led:</p>
                <p id="led"> Apagado</p>
                <button id="changeLed" onclick="changeState()">Encender</button>
            </div>
        </div>
      </div>

      <!--SHOW ONLY IN MOBILES-->
      <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a id="temp-m" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  Temperatura</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="temp">
                        <li>Datos</li>
                    </ul>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a id="hum-m" data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                  Humedad</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="hum">
                        <li>Datos</li>
                    </ul>
               </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a id="volt-m" data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                  Luminosidad</a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="volt">
                        <li>Datos</li>
                    </ul>
                </div>
              </div>
            </div>
          </div>


    <script>
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            $('#desktop').css('display', 'none');
        }else{
            $('#accordion').css('display', 'none'); 
        }
    </script>

    <script>
        const socket = io();
        
        socket.on('mqtt_message',function(data){
            console.log(data);
            if(data.topic=="humidity"){
                $('.hum').prepend('<li>'+ data.topic + ' ' + data.payload +'</li>');
                $('#hum-m').text('Humedad: '+data.payload);
            }else if(data.topic=="temperature"){
                $('.temp').prepend('<li>'+ data.topic + ' ' + data.payload +'</li>');
                $('#temp-m').text('Temperatura: '+data.payload);
            }else if(data.topic=="voltage"){
                $('.volt').prepend('<li>'+ data.topic + ' ' + data.payload +'</li>');
                $('#volt-m').text('Luminosidad: '+data.payload);
            }else if(data.topic=="led"){
                if(data.payload == "1"){
                    $("#led").text("Encendido");
                    $("#changeLed").text("Apagar");
                }else if(data.payload == "0"){
                    $("#led").text("Apagado");
                    $("#changeLed").text("Encender");
                }
            }
            
        })
    </script>

    <script>
        function changeState(){
            console.log("boton pulsado");
            const sckt = io();
            var st = $("#changeLed").text();
            console.log(st);
            if(st == "Encender"){
                sckt.emit('changeLed',"on");
                $("#changeLed").text("Encendiendo...");
            }else if(st == "Apagar"){
                sckt.emit('changeLed',"off");
                $("#changeLed").text("Apagando...");
            }
        }
    </script>
{% endblock %}