{% extends "base_layout.html" %}
{% block body %}
    <div class="container">
        <h1>MEDICIONES</h1>
        <div class="row" id="desktop">
            <div class="col-md-3">
                <div class="scrollbox">
                    <h4>TEMPERATURA</h4>
                    <ul class="temp">
                        <li>Datos</li>
                    </ul>
                </div>                
            </div>
            <div class="col-md-3">
                <div class="scrollbox">
                    <h4>HUMEDAD</h4>
                    <ul class="hum">
                        <li>Datos</li>
                    </ul>
                </div>                
            </div>
            <div class="col-md-3">
                <div class="scrollbox">
                    <h4>LUMINOSIDAD</h4>
                    <ul class="volt">
                        <li>Datos</li>
                     </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                        <p id="led">Estado del led: Apagado</p>
                        <button id="changeLed" onclick="changeState()">Encender</button>
                        <p id="pir">Movimiento: No detectado</p>
                </div>
                <button id="to-records"><a href="{{url_for('records')}}">Histórico</a></button>
            </div>
        </div>
      </div>

    <script>
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            $('.scrollbox').css('margin-top', '10px');
            $('.box').css('margin-top', '10px');
        }
    </script>

    <script>
        const socket = io();
        
        socket.on('mqtt_message',function(data){
            console.log(data);
            if(data.topic=="humidity"){
                $('.hum').prepend('<li>'+ data.topic + ' ' + data.payload +'</li>');
                $('#hum-m').text('Humedad: '+data.payload);
            }else if(data.topic=="temperature"){
                $('.temp').prepend('<li>'+ data.topic + ' ' + data.payload +'</li>');
                $('#temp-m').text('Temperatura: '+data.payload);
            }else if(data.topic=="voltage"){
                $('.volt').prepend('<li>'+ data.topic + ' ' + data.payload +'</li>');
                $('#volt-m').text('Luminosidad: '+data.payload);
            }else if(data.topic=="led"){
                if(data.payload == "1"){
                    $("#led").text("Estado del led: Encendido");
                    $("#changeLed").text("Apagar");
                }else if(data.payload == "0"){
                    $("#led").text("Estado del led: Apagado");
                    $("#changeLed").text("Encender");
                }
            }else if(data.topic == "pir"){
                if(data.payload == "2"){
                    $("#pir").text("Movimiento: Detectado");
                }else if(data.payload == "3"){
                    $("#pir").text("Movimiento: No detectado");
                }
            }
            
        })
    </script>

    <script>
        function changeState(){
            console.log("boton pulsado");
            const sckt = io();
            var st = $("#changeLed").text();
            console.log(st);
            if(st == "Encender"){
                sckt.emit('changeLed',"11");
                $("#changeLed").text("Encendiendo...");
            }else if(st == "Apagar"){
                sckt.emit('changeLed',"10");
                $("#changeLed").text("Apagando...");
            }
        }
    </script>
{% endblock %}